.contTituloReserva{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.contTituloReserva h1{
    color: #1ebbce;
}

.contTotalPagar{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.contCheck .btn{
 
  height: 38px;
  border-color: black;
}



.contCheck{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.contImg{
    width: 300px;
  
}

.contImg img{
    width: 100%;
}

.cardCarrito {
    width: 400px;
    overflow: hidden;

}

.cardCarrito header{
    width: 100%;
 //   height: 200px;
    overflow: hidden;
    position: relative;
}

.cardCarrito header::before{
    content: "";
    position: absolute;
    border-top: 30px solid transparent;
    border-left: 400px solid white;
    bottom: 0;
}

.cardCarrito header img{
    width: 100%;
}

.cardCarrito section{
    padding: 10px;
    overflow: hidden;
    text-align: center;
}

.cardCarrito section h2 {
    margin: .5em 0;
    color: #1ebbce;
}

.cardCarrito section  p{
    margin: 1em 0;
}

.cardCarrito footer {
    width: 100%;
    height: 80px;
    background: #1ebbce;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}

/* delete */

.btnDelete {
    width: 50px;
    height: 50px;
    background-color: rgb(94, 93, 93);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
}

.btnDelete .svgIcon{
    width: 12px;
    transition-duration: .3s;
}

.btnDelete .svgIcon path {
   fill: white;
}

 .btnDelete:hover{
    width: 140px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color:rgb(246, 168, 168);
    align-items: center;
} 

.btnDelete:hover .svgIcon {
    width: 50px;
    transition-duration: .3s;
    transform: translateY(60%);
  }
  


.btnDelete::before {
    position: absolute;
    top: -20px;
    content: "Delete";
    color: white;
    transition-duration: .3s;
    font-size: 2px;
}

.btnDelete:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}


/* boton vaciar carrito */

.buttonVaciar {
//    padding: 17px 40px;
 border-radius: 10px;
 border: 0;
 background-color: rgb(255, 56, 86);
 letter-spacing: 1.5px;
 font-size: 15px;
 transition: all .3s ease;
// box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
 color: hsl(0, 0%, 100%);
 padding: 7px;
}

.buttonVaciar:hover{
    box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;  
}

.buttonVaciar:active{
    background-color: rgb(255, 56, 86);
    /*50, 168, 80*/
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}



/* boton terminar Compra */

.buttonTerminarCompra {
    //    padding: 17px 40px;
     border-radius: 10px;
     border: 0;
     background-color: rgb(3, 118, 126);  //a
     letter-spacing: 1.5px;
     font-size: 15px;
     transition: all .3s ease;
    // box-shadow: rgb(98, 90, 171) 0px 10px 0px 0px;  //b
     color: hsl(0, 0%, 100%);
     padding: 10px;
    }
    
   /*  .buttonTerminarCompra:hover{
        box-shadow: rgb(98, 90, 171) 0px 7px 0px 0px;   //b
    } */
    
    .buttonTerminarCompra:active{
        background-color: rgb(126, 111, 240);  //a
        /*50, 168, 80*/
        box-shadow: rgb(98, 90, 171) 0px 0px 0px 0px;  //b
        transform: translateY(5px);
        transition: 200ms;
    }

