.contFinOrden{
    margin-top: 50px;
     margin-left: 5px;
    margin-right: 5px; 
}



.cardCheckout{
    //width: 340px;
    width: 100%;
    height: 242px;
    background: whitesmoke;
    transition: .2 linear;
    box-shadow: 1px 1px 10px lightslategray;
    cursor: default;

   
    
}

.cardCheckout .card-top-part{
    width: 100%;
    height: 70%;
    padding: 15px;
    display: flex;
}

.cardCheckout .left-part{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cardCheckout .right-part{
   // width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cardCheckout .user-name{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.cardCheckout .name{
    font-size: 24px;
}

.cardCheckout .role{
    font-size: 10px;
    color: lightcyan;
    font-weight: bold;
    text-transform: lowercase;
    background-color: lightskyblue;
    padding: 4px 10px;
    border-radius: 15px;
}

.cardCheckout .position{
    color: gray;
}

.cardCheckout .card-bottom-part{
    width: 100%;
    height: 30%;
    display: flex;
    border: 1px solid rgb(231, 227, 227);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.cardCheckout .user-photo{
    width: 4.5rem;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid rgb(231, 227, 227);
    box-shadow: 2px 2px 10px lightslategray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardCheckout .photo{
    width: 100%;
}

.cardCheckout .bottom-part{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cardCheckout .bottom-part:hover > .linkCheck {
    transform: scale(1.1);
}

.cardCheckout .linkCheck{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    gap: 5.5px;
    font-weight: bold;
    transition: .2s linear;
}

.cardCheckout .iconCheck{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardCheckout .bottom-part:first-child{
    border-right: 1px solid rgb(231, 227, 227);
}


@media (min-width: 725px) {
    .contFinOrden{
        margin-top: 10rem;
         margin-left: 2rem;
        margin-right: 2rem; 
    }
}

@media (min-width: 1024px) {
    .contFinOrden{
        margin-top: 10rem;
         margin-left: 15rem;
        margin-right: 15rem; 
    }
}