.containerCont{
    display: flex;
   // width: 100%;
    height: 500px;
  //  max-width: 99%;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: #ffffff25 !important;
  border-radius: 15px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.03);
  border: 0.1px solid rgba(128, 128, 128, 0.178);
  margin-left: 5rem;
  margin-right: 5rem;
}

.containerCont .leftCont{
    width: 66%;
    height: 100%;
}

.containerCont .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    left: 0;
    backdrop-filter: blur(20px);
    position: relative;
}

.containerCont .form::before{
    position: absolute;
    content: "";
    width: 40%;
    height: 40%;
    right: 1%;
    z-index: -1;
    background: radial-gradient(
    circle,
    rgb(194, 13, 170) 20%,
    rgb(26, 186, 235) 60%,

    rgb(26, 186, 235) 100%
  );
  filter: blur(70px);
  border-radius: 50%;
}

.containerCont .rightCont{
    width: 34%;
    height: 100%;
}

.containerCont .img{
    width: 100%;
    height: 100%;
}

.containerCont::after{
    position: absolute;
    content: "";
    width: 80%;
    height: 80%;
    right: -40%;
    background: rgb(157, 173, 203);
    background: radial-gradient(
      circle,
      rgba(157, 173, 203, 1) 61%,
      rgba(99, 122, 159, 1) 100%
    );
    border-radius: 50%;
    z-index: -1;
}

.containerCont .input, .btnEnvCont {
    background: rgba(253, 253, 253, 0);
    outline: none;
    border: 1px solid rgba(255, 0, 0, 0);
    border-radius: 0.5rem;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    display: block;
    color:  #425981;
    font-weight: 500;
    font-size: 1.1em;
}

.containerCont .input-block{
    position: relative;
}

.containerCont .label{
    position: absolute;
    left: 15%;
    top: 37%;
    pointer-events: none;
    color: grey;
}

.containerCont .forgot{
    display: block;
    margin: 5px 0 10px 0;
}

.containerCont .input:focus + label,
               .input:valid + label {
                transform: translateY(-300%) scale(0.9);
               transition: all 0.4s;
               }

.containerCont .btnEnvCont{
    background-color: #5e7eb6;
    color: white;
    font-size: medium;
    box-shadow: 2px 4px 8px rgba(70, 70, 70, 0.178);
}     

.containerCont a{
    color: #5e7eb6;
}

.containerCont .input{
    box-shadow: inset 4px 4px 4px rgba(165, 163, 163, 0.315),
    4px 4px 4px rgba(218, 218, 218, 0.13);
}

@media (min-width: 375px) {
    .containerCont{
        margin-left: 0;
        margin-right: 0;
    }
}


@media (min-width: 425px) {
    .containerCont{
        margin-left: 15px;
        margin-right: 15px;
    }

}

@media (min-width: 725px) {
    .containerCont{
        margin-left: 2rem;
        margin-right: 2rem;
    }

}

@media (min-width: 725px) {
    .containerCont{
        margin-left: 5rem;
        margin-right: 5rem;
    }

}

@media (min-width: 1024px) {
    .containerCont{
        margin-left: 7rem;
        margin-right: 7rem;
    }

}