
.containerTitulo{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}

.containerTitulo .green{
    color: #1ebbce;
    margin-bottom: 0.5rem;
    display: flex;
}



.containerImagen{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.contenedorDescripcion{
    margin-top: 5rem;
    padding-right: 15px;
    padding-left: 15px;
}

.contenedorDescripcion .h2Desc{
    color: #363a40;
    margin-bottom: 1.5rem;
}

.contenedorDescripcion .pDesc{
    margin-bottom: 3rem;
    color: #666a72;
}

.contenedorAmenities {
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.contenedorAmenities .listaAmenities li{
    display: flex;
    margin-bottom: 2.5rem;
}

.contenedorAmenities .listaAmenities .svg-inline--fa{
    font-size: 1rem;
    color: #1ebbce;
    line-height: 3rem;
}

.contenedorAmenities .listaAmenities .listaBody{
    margin-left: 1rem;
}

.listaBody .h3Body{
    color: #363a40;
    font: italic 700 1.5rem/2.25rem "PT Serif", serif;
}



/* boton reservar */

.cont-btn-reserva{
    display: flex;
    justify-content: center;
}

.cont-btn-reserva .btn-reservar{
    display: flex;
}

.cont-btn-fecha{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}


.contSeleccionador{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cont1{
    margin-bottom: 10px;
}

.cont1 h4{
    text-align: center;
}

/* medias queries */

@media (min-width: 768px) {
    .containerTitulo .img-fluid{
        width: 100% !important;
    }
}