
.nav{
    font-size: 0.875rem;
    line-height: 0.875rem;
    background-color: #ffffff;
    box-shadow: 0 0.0625rem 0.375rem 0 #0000001a;
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    position: fixed;  //fijar la barra de navegacion
    top: 0;//fijar la barra de navegacion
    width: 100%;//fijar la barra de navegacion
}

.nav .nav_logo img {
    width: 76px;
    height: 28px;
}

.nav .nav_ul{
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.nav .nav_ul li{
    padding-left: 20px;
}

.nav .nav_ul li:hover{
    color: #1ebbce;
}



/* toggle */

.nav .dropdown button{
    background-color: #ffffff;
    color: #666a72;
    
}

/* .btn-success{
    border-color: #ffffff;
    line-height: 0px;
    border-width: 0px; 
    padding: 0px;
    font-size: 14px;
} */

.btn-success{
    border-color: beige;
    line-height: 0px;
    border-width: 3px; 
    padding: 9px;
    font-size: 14px;
}

.btn.show{
    border-color: beige;
}

.btn:hover{
    border-color: beige;
}



#dropdown-basic:focus{
    outline: blue !important;
}


.btn-success:active{
    color:#666a72;
    background: #666a72 !important;
}
/* desplegable */

.dropdown-menu{
    border-width: 0px; 
    color: #666a72 !important;
    font-size: 14px;
    transform: translate3d(0px, 22px, 0px) !important;
}

.nav .dropdown-item{
    color: #666a72;
    text-decoration: none;
    padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.nav .dropdown-toggle:hover{
    color: #1ebbce;
}

.nav .dropdown-item:hover{
    background-color: #ffffff;
	color: #1ebbce;
    
}




