@import '../scss/base/estilosgenerales';
@import '../scss/mediasqueries';

@import '../scss/navbar';
@import '../components/Slider/slider';
@import '../scss/itemDetail';
@import '../scss/cart';
@import '../scss/cartWidget';
@import '../scss/loginSreen';
@import '../scss/itemCount';
@import '../scss/terminarPago';

@import '../scss/itemListContainer';
@import '../scss/loader';
@import '../scss/error404';